/* @import url('https://fonts.googleapis.com/css2?family=Doto:wght@400;700&display=swap'); */

.about-container {
    max-width: 768px;
    width: 100%;
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    border-left: rgba(0, 0, 0, 0.1) 1px solid;
    margin: auto;
    font-size: 20px;
    font-family: monospace;
    /* font-family: 'Doto', sans-serif; */

    /* padding: 0 15px; */
}

h3{
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 8px;
    /* padding-bottom: 20px; */
    font-size: 50px;
    /* font-family: 'Doto', sans-serif; */
    font-weight: 900;

}
.content{
    font-size: 15px;
    padding: 10px;
}

#about{
    scroll-margin-top: 100px; 
}

.content::selection{
    background-color: black;
    color: white;
}