.badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px; 
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  background-color: #f2f1f1;
  border: 1px solid #cdcdcd;
  color: #949494;
}
