*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.nav-container {
    margin-top: 10px;
    border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
    border-top: rgba(0, 0, 0, 0.1) 2px solid;
}

.navbar {
    max-width: 768px;
    margin: 0 auto;
    min-height: 48px;
    /* Center horizontally */
    display: flex;
    justify-content: space-between;
    /* Space between logo and links */
    align-items: center;
    padding: 0.7rem 15px;
    font-family: monospace;
    font-size: 1rem;
    border-right: rgba(0, 0, 0, 0.1) 1px solid;
    border-left: rgba(0, 0, 0, 0.1) 1px solid;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.logo-svg {
    width: 40px;
    height: 40px;
    border: 9999px;

    /* vertical-align: middle; */
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    color: #6b7280;
    /* Gray color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #000;
}


.logo-svg {
    width: 50px;
    height: 40px;
}





.github-circle-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  border: 1.5px solid #e5e7eb; /* Light gray border */
  text-decoration: none;
  color: #000;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.github-circle-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.github-icon {
  width: 15px;
  height: 15px;
  pointer-events: none;
}
